/* Customize the pagination container */
.swiper-pagination {
    bottom: px !important;
    /* Position the pagination at the bottom */
    /* text-align: center; */
    z-index: 999;
}

/* Customize the pagination bullets */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #FDF0E7;
    /* Default background color */
    opacity: 1;
    /* Make the bullets fully visible */
    /* margin: 0 5px;
     */
    /* margin-top: 20px !important; */
    /* Space between bullets */
    border-radius: 40px 40px 40px 40px;
    /* Make bullets circular */
    transition: background 0.3s ease;

    position: relative;

}

/* Customize the active pagination bullet */
.swiper-pagination-bullet-active {
    background: #EE6611;
    /* Color for the active bullet */
    width: 30px;
    height: 12px;
    /* transform: scale(1.2); */
    /* Slightly enlarge the active bullet */
}